            html {
                /** background-color: #E9D8A6;**/
                max-width: 100%;
                background-image: url('http://127.0.0.1:5500/personalsite/images/Untitled%20design%20(2).png');
            }
            
            body {
                font-family: 'Roboto', 'Dongle', sans-serif;
                font-size: 22px;
                margin: 8px;
                padding: 0;
            }
            
            .logo {
                width: 100px;
            }
            
            .collection {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-gap: 1%;
            }
            
            h3 {
                background-color: grey;
                text-align: center;
            }
            
            img {
                width: 100%;
                height: 100%;
            }
            
            header {
                background-color: #0A9396;
                display: grid;
                grid-template-columns: 150px auto;
            }
            
            nav a {
                padding: 25px;
                color: black;
                text-align: center;
                text-decoration: none;
            }
            
            nav a:hover {
                background-color: #EE9B00;
                color: black;
            }
            
            nav {
                display: flex;
                justify-content: space-around;
            }
            
            footer {
                background-color: #0A9396;
                padding: 25px 50px;
                margin-top: 200px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
            }
            
            footer h4 {
                color: black;
            }
            
            footer h4 a:hover {
                text-decoration: underline;
            }
            
            footer a {
                color: black;
                text-align: left;
                text-decoration: none;
            }
            
            footer a:hover {
                color: black;
            }
            
            footer .social img {
                padding-top: 15px;
                width: 10%;
            }
            /********/
            
            @media screen and (max-width: 900px) {
                nav,
                footer {
                    flex-direction: column;
                }
                nav a {
                    display: block;
                    padding: 15px;
                }
                .home-title {
                    font-size: 25px;
                    color: #6f7364;
                }
                #background {
                    display: none;
                }
                footer {
                    margin-top: 200px;
                }
            }
            /**Assignmmnet*/